<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/cv.css">
    <title>CV</title>
</head>
<body>
    <header class="header">
        <div class="div_header">
            <img src="/static/IMG_20180912_132706 1 (1).png" alt="">
        </div>
        <div class="div_header2">
            <h1>CV  Junior Java Developer</h1>
            <h1 class="h1">Piatsiushyk Ivan</h1>
        </div>
    </header>
<section class="section_left">
    <div class="about_me">
        <h2 class="about_me_h2">About me</h2>
    </div>
    <p class="about_me_p">
        Good day. My name is Ivan, I am 33 years old and I am a beginner
        developer. I have completed a course on Java development (3 months).
        At the moment I am studying independently .Study java more 1 years . I
        want to develop further, work on interesting and challenging projects
        and be part of the team. At the moment my knowledge is not enough,
        but I am ready to learn .Hardworking, punctua
    </p>
    <div class="education">
        <h2 class="education_h2">Education</h2>
        <p class="education_p">Filial "Industrialno_pedagogicheskii kolledj"
            uchrejdeniya obrazovaniya "Respublikanskii
            institut professionalnogo obrazovaniya g.Minsk"(2010-2014)</p>
    </div>
    <div class="project">
        <h2 class="project_h2">Recently Completed Projects</h2>
        <p class="project_p">
            Project 1: My project is a news resource about sneakers. Here you can see news in the world of sneakers, the history of the creation
            of some models, or leave your feedback on your favorite pair.
            <br> <br>
            At the moment it is deployed on a remote server (ubuntu). I have installed docker , nginx and certbot on it. With the help of docker,
            I launched the application in a container, with the help of certbot I received ssl security certificates on port 443, and with the help of
            nginx I redirected to the dns I needed. <br> <br>
            I have adapted this application for mobile devices only. <br>
            <a href="https://sneaker.com.ru" class="site">https://sneaker.com.ru</a>
            <br>
            This summary is also deployed via docker and proxy server nginx . <br> <br>
            I used next technologies: Spring Boot, Spring MVC,
            Spring security, HTML,CSS, Bootstrap, Spring Data JPA,Thymeleaf,Docker,Git. <br>
            Сode can be seen here: <br> <a href="https://github.com/IvanPiatsiushik/spring-boot--app.git" class="site">https://github.com/IvanPiatsiushik/spring-boot--app.git</a>
            <br>

        </p>
    </div>

</section>
<section class="section_right">
    <div class="contacts">
        <h2 class="contacts_h2">Contacts</h2>
        <p class="contacts_p">
            • Email:dirol-88@mail.ru <br>
            • Linkedin: <a href="https://www.linkedin.com/in/ivan-piatsiushyk-88b6131b7">https://www.linkedin.com/in/ivan-piatsiushyk-88b6131b7</a> <br>
            • Github : <a href="https://github.com/IvanPiatsiushik">https://github.com/IvanPiatsiushik</a> <br>
            • Phone number:+7(963)648 80 17
        </p>
    </div>
    <div class="technical_skills">
        <h2 class="technical_skills_h2"> Technical Skills</h2>
        <p class="technical_skills_p">
            •Programming languages: Java,Html,CSS <br>
            •Technologies and Frameworks: Spring(MVC,Boot,Security) <br>
            •Database: MySql,Postgresql <br>
            •IDE: Intellij idea,Android studio,Web Storm <br>
            •Other: Git,Docker,Hibernate,AWS(EC2)
        </p>
    </div>
    <div class="languages">
        <h2 class="languages_h2">Languages</h2>
        <p class="languages_p">English Pre-Intermediate (A2)<br>Russian Native</p>
    </div>
    <div class="courses">
        <h2 class="courses_h2">Courses</h2>
        <p class="courses_p"> Akademiya BELHARD Java programming  (3 months)2020</p>
    </div>

</section>
</body>
</html>